<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head> </head>
  <body>
    <!-- Page Content-->
    <div class="container px-5 my-5" th:fragment="resume">
      <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0">
          <span class="text-gradient d-inline">Resume</span>
        </h1>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
          <!-- Experience Section-->
          <section>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h2 class="text-primary fw-bolder mb-0">Trainings</h2>
              <!-- Download resume button-->
              <!-- Note: Set the link href target to a PDF file within your project-->
              <a
                class="btn btn-primary px-4 py-3"
                target="_blank"
                href="https://drive.google.com/file/d/1I37soeqCDCIGdGbSgwQ4zQZ5j_eM6hKr/view?usp=sharing"
              >
                <div class="d-inline-block bi bi-download me-2"></div>
                Download Resume
              </a>
            </div>
            <!-- Experience Card 1-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">
                        March 2025 - Oct 2025
                      </div>
                      <div class="small fw-bolder">
                        Java Full Stack Developer Trainee
                      </div>
                      <div class="small text-muted">
                        JSpiders - Training & Development Center
                      </div>
                      <div class="small text-muted">Bengaluru, Karnataka</div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      I’ve built a solid foundation in Full-Stack Java
                      Development, covering everything from Core Java and Spring
                      Boot to Oracle SQL and PL/SQL. My training focused on
                      mastering MVC architecture, REST APIs, and seamless
                      database integration. To apply these concepts in
                      real-world scenarios, I developed: E-Commerce Platform: A
                      full-stack application built with Spring Boot, Spring
                      Security and React, focusing on secure user authentication
                      and scalable backend logic. Retail Billing Software
                      System: A robust system designed to handle high-volume
                      data, inventory management, and automated billing
                      workflows using Java, Spring Boot, Spring Security and
                      SQL.This experience has given me a deep understanding of
                      application layering, database design, and the end-to-end
                      development lifecycle.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Experience Card 2-->
          </section>

          <!-- Internship Section-->
          <section>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h2 class="text-primary fw-bolder mb-0">Internships</h2>
              <!-- Download resume button-->
              <!-- Note: Set the link href target to a PDF file within your project-->
            </div>
            <!-- Internship card - 1  -->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">
                        Sep 2024 - March 2025
                      </div>
                      <div class="small fw-bolder">AI-DevOps Engineer</div>
                      <div class="small text-muted">Rooman Technologies</div>
                      <div class="small text-muted">Bengaluru, Karnataka</div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      I successfully completed a 6-month internship under the
                      PMKVY 4.0 scheme as an AI-DevOps Engineer, gaining
                      certification and hands-on experience in CI/CD pipelines,
                      Jenkins, Docker, Kubernetes, Git/GitHub, and cloud
                      deployment practices. During the internship, I developed
                      sustainable DevOps practices while strengthening both
                      technical and soft skills to enhance professional
                      competence. I also gained exposure to automation,
                      proactive monitoring, and continuous availability
                      solutions, applying them to real-world scenarios.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Internship Card 2-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">
                        Oct 2023 - Nov 2023
                      </div>
                      <div class="small fw-bolder">
                        Entrepreneurship And Innovation
                      </div>
                      <div class="small text-muted">
                        ParvaM ConsulTech Pvt Ltd
                      </div>
                      <div class="small text-muted">Bengaluru, Karnataka</div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      I completed a 1-month internship at ParvaM ConsulTech Pvt.
                      Ltd., where I explored concepts related to
                      entrepreneurship and innovation, studied government
                      initiatives supporting start-ups in India, and engaged in
                      research through articles and official portals. As part of
                      the program, I presented a comprehensive business idea
                      titled “Rao’s Clothing”, demonstrating analytical
                      thinking, and entrepreneurial skills.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Internship Card 3-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">Oct 2022</div>
                      <div class="small fw-bolder">Basics of Python</div>
                      <div class="small text-muted">
                        ParvaM ConsulTech Pvt Ltd
                      </div>
                      <div class="small text-muted">Bengaluru, Karnataka</div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      As a first-year engineering student eager to learn, I
                      joined ParvaM ConsulTech Pvt. Ltd. for a 3-week
                      internship, where I gained a strong foundation in Python
                      programming. This experience helped me thoroughly
                      understand the basics of Python and sparked my interest in
                      software development.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- Certificates  -->
          <section>
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h2 class="text-primary fw-bolder mb-0">Certificates</h2>
              <!-- Download resume button-->
              <!-- Note: Set the link href target to a PDF file within your project-->
            </div>
            <!-- Certificates Card 1-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">
                        Dec 2025 - Feb 2026
                      </div>
                      <div class="small fw-bolder">
                        Mobile Development- Flutter & React Native
                      </div>
                      <div class="small text-muted">30 Days Coding</div>
                      <!-- <div class="small text-muted">Bengaluru, Karnataka</div> -->
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      Completed a comprehensive course in Mobile Development,
                      focusing on building a deep architectural understanding of
                      Flutter and React Native through hands-on
                      implementation.To solidify these concepts, I developed
                      projects focused on state management, cloud integration,
                      and local persistence, like To-Do Task Manager built using
                      Flutter and Firebase and AppIdea: A social platform for
                      creators built using Flutter and Supabase.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Certificates Card 2-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-primary fw-bolder mb-2">
                        Sep 2025 - Nov 2025
                      </div>
                      <div class="small fw-bolder">
                        JavaScript and React JS Mastery
                      </div>
                      <div class="small text-muted">30 Days Coding</div>
                      <!-- <div class="small text-muted">Bengaluru, Karnataka</div> -->
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      Completed a comprehensive mastery course covering the full
                      spectrum of modern frontend development. This program
                      focused on building a deep architectural understanding of
                      JavaScript and React through hands-on
                      implementation.Beyond the core architecture, I built
                      several projects to ensure a thorough understanding of
                      these concepts, including: VideoStream Explorer: A dynamic
                      video discovery platform using the YouTube Data API and
                      Several specialized minor projects focused on state
                      management, API integration, and responsive UI.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Certificates Card 3-->
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2">
                      July 2022 - Sep 2022
                    </div>
                    <div class="small fw-bolder">Web Development</div>
                    <div class="small text-muted">Internshala Trainings</div>
                    <!-- <div class="small text-muted">Online</div> -->
                  </div>
                </div>
                <div class="col-lg-8">
                  <div>
                    During my second year of engineering, I developed a strong
                    interest in building responsive websites and enrolled in an
                    online certified Web Development training program from a
                    reputed platform. The training covered HTML, CSS, Bootstrap,
                    DBMS, PHP, JavaScript, React, and culminated in a final
                    project module, giving me both theoretical knowledge and
                    practical experience in web development.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Certificates Card 4-->
          <div class="card shadow border-0 rounded-4 mb-5">
            <div class="card-body p-5">
              <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                  <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2">
                      May 2022 - June 2022
                    </div>
                    <div class="small fw-bolder">Data Science</div>
                    <div class="small text-muted">Internshala Trainings</div>
                    <!-- <div class="small text-muted">Bengaluru, Karnataka</div> -->
                  </div>
                </div>
                <div class="col-lg-8">
                  <div>
                    After gaining interest in programming through Python, I was
                    inspired by the growing field of Data Science and decided to
                    pursue it further. I completed a 6-week online certified
                    training in Data Science from a reputed platform, where I
                    learned Introduction to Data Science, Python for Data
                    Science, Statistics for Data Science, Predictive Modeling,
                    Basics of Machine Learning, and completed a final project
                    module. This training helped me strengthen my analytical and
                    problem-solving skills while gaining exposure to real-world
                    data applications.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Education Section-->
          <section>
            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
            <!-- Education Card 1-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-secondary fw-bolder mb-2">
                        2021 - 2025
                      </div>
                      <div class="mb-2">
                        <div class="small fw-bolder">
                          RR Institute of Technology
                        </div>
                        <div class="small text-muted">Bengaluru, Karnataka</div>
                      </div>
                      <div class="fst-italic">
                        <div class="small text-muted">B.E</div>
                        <div class="small text-muted">
                          Information Science and Engineering
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      I hold a Bachelor’s degree in Information Science &
                      Engineering. I graduated with an aggregate CGPA of 8.06,
                      reflecting consistent academic performance alongside
                      practical learning through projects, internships, and
                      technical training
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Education Card 2-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-secondary fw-bolder mb-2">
                        2019 - 2021
                      </div>
                      <div class="mb-2">
                        <div class="small fw-bolder">
                          Mother Teresa Pre University
                        </div>
                        <div class="small text-muted">Bengaluru, Karnataka</div>
                      </div>
                      <div class="fst-italic">
                        <div class="small text-muted">
                          Senior Secondary Education
                        </div>
                        <div class="small text-muted">PCMC's</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      I completed my 12th grade under the Karnataka State Board,
                      securing an outstanding 94% and earning recognition as one
                      of the college toppers, which strengthened my academic
                      foundation and discipline.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Education Card 3-->
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="row align-items-center gx-5">
                  <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                      <div class="text-secondary fw-bolder mb-2">
                        2009 - 2019
                      </div>
                      <div class="mb-2">
                        <div class="small fw-bolder">
                          Mother Teresa High School
                        </div>
                        <div class="small text-muted">Bengaluru, Karnataka</div>
                      </div>
                      <div class="fst-italic">
                        <div class="small text-muted">Secondary Education</div>
                        <div class="small text-muted"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-8">
                    <div>
                      I completed my 10th standard with 88%, where I not only
                      excelled academically but also showcased my leadership
                      skills by serving as one of the school captains. Alongside
                      academics, I actively participated in sports, winning
                      medals both individually and as part of a team, reflecting
                      a balanced blend of discipline, teamwork, and achievement.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Divider-->
          <div class="pb-5"></div>

          <!-- Skills Section-->
          <section>
            <div class="card shadow border-0 rounded-4 mb-5">
              <div class="card-body p-5">
                <div class="mb-5">
                  <div class="d-flex align-items-center mb-4">
                    <div
                      class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                    >
                      <i class="bi bi-tools"></i>
                    </div>
                    <h3 class="fw-bolder mb-0">
                      <span class="text-gradient d-inline"
                        >Technical Skills & Tools</span
                      >
                    </h3>
                  </div>

                  <div class="row row-cols-1 row-cols-md-3 gy-4">
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Core Java
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Spring Boot
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Spring Security
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        React JS
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Bootstrap5
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Tailwind CSS
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        React Native
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Flutter
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Git
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        GitHub
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Oracle SQL
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        REST APIs
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Postman API
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Programming
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mb-0">
                  <div class="d-flex align-items-center mb-4">
                    <div
                      class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"
                    >
                      <i class="bi bi-code-slash"></i>
                    </div>
                    <h3 class="fw-bolder mb-0">
                      <span class="text-gradient d-inline">Soft Skills</span>
                    </h3>
                  </div>

                  <div class="row row-cols-1 row-cols-md-3 gy-4">
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Colloborative
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Agile Learner
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Adaptability
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Interpersonal Communication
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Go-getter Attitude
                      </div>
                    </div>
                    <div class="col">
                      <div
                        class="d-flex align-items-center bg-light rounded-4 p-3 h-100"
                      >
                        Customer Focused
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
